.profil{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: var(--seconde);
    margin: 0 1rem;
    
}

.title{
    font-weight: 600;
}
.first{
    background: var(--text) !important;
    color: var(--seconde) !important;
}