:root {
    --font-family: "Roboto", sans-serif;
    --text : #F1F1F1;
    --background :#0F0F0F;
    --seconde : #222222;
    --search-bar:#121212;
    --border:#303030;
    --search-bar-text:#888080;


}